    /*Basemap Styles*/
    /*GENERAL STYLES*/
    
    * {
        box-sizing: border-box;
    }
    
    html,
    body,
    #map {
        /*the height value for map needs to be here*/
        height: 100%;
        margin: 0;
        padding: 0;
    }
    /*POPUP*/
    /*removes the zoomto button from the popup*/
    
    #map .esriPopup .action.zoomTo {
        display: none;
    }
    /*removes the title pane element from the popup*/
    
    #map .esriPopup .titlePane {
        display: none;
    }
    
    #map .esriPopup .actionsPane {
        display: none;
    }
    /*controls the overall size of the popup*/
    
    #map .esriPopup .sizer {
        max-height: 130px;
        max-width: 300px;
    }
    
    #map .esriPopup .contentPane {
        background-color: black;
        color: #CFB87C;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        padding: 0;
        max-height: 130px;
        max-width: 300px;
    }
    
    #map .esriViewPopup .break {
        display: none;
    }
    
    #map .esriPopup .mediaSection {
        width: 50%;
        float: left;
    }
    
    #map .gallery .frame img {
        max-width: 150px;
        max-height: 130px;
        /*float: left;*/
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    
    #map .esriViewPopup div.mainSection {
        width: 50%;
        float: right;
    }
    
    #map .esriViewPopup div.mainSection .header {
        font-style: normal;
        font-family: Arial;
        width: 100%;
        float: right !important;
        text-align: center;
        color: #565A5C;
        float: left;
    }
    
    #map .esriViewPopup .hzLine + div {
        width: 100%;
        float: right !important;
        color: #CFB87C;
        padding-left: 3%;
        vertical-align: middle;
    }
    
    #map .esriViewPopup .gallery {
        /*position: relative;*/
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    
    #map .gallery .frame img.esriPopupMediaImage {
        margin: 0px !important;
    }
    
    #map .esriViewPopup .hzLine {
        /*border-bottom: 1px solid #565A5C;*/
        border-bottom: none;
    }
    
    #map .esriPopup .outerPointer.left {
        display: none;
    }
    
    #map .esriPopup .outerPointer.right {
        display: none;
    }
    
    #map .esriPopup .pointer.top {
        display: none;
    }
    /*NAVBAR*/
    
    #cu_nav {
        background-color: transparent;
        border-color: transparent;
        position: absolute;
        top: 0px;
    }
    /*RALPHIE*/
    
    .navbar-brand {
        padding: 0px;
    }
    
    .navbar-brand>img {
        height: 100%;
        padding: 0px;
        width: auto;
    }
    /*SEARCH  BAR USING CALCITE*/
    
    #search {
        display: block;
        float: right;
        margin-top: 5px;
        height: 30px;
        */
        /*font-size: 10px;*/
    }
    
    #search .searchIcon {
        color: #C5A230;
        font-size: 10px;
    }
    
    #search .searchInput {
        background-color: black;
    }
    
    #search .searchInput:focus {
        border-color: #C5A230;
        -moz-box-shadow: 0px 0px 4px #C5A230;
        -webkit-box-shadow: 0px 0px 4px #C5A230;
        box-shadow: 0px 0px 4px #C5A230;
        color: white;
    }
    /*AIzaSyDDaA_i_r5wKG8WPxMz_pcodZcwCZTlUMM */
