html,
body {
    height: 100%;
}

.navbar-default .navbar-brand {
    padding-left: 40px;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    padding: 10px 10px 10px 10px;
}

.navbar {
    background-color: #C751FB;
    border-radius: 0px;
    border-width: 2px;
    border-color: black;
}


/***************** MENU TITLE ********************/

#menu {
    font-family: 'Damion', cursive;
    font-size: 5em;
}


/***************** SECTION CONTAINER ********************/

#section-container {
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
}


/***************** FOOD SECTIONS ********************/

section {
    height: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

section:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#chicken {
    background-color: #00D7D7;
    /*height: 100%;*/
}

#beef {
    background-color: #DE6382;
    height: 100%;
}

#sushi {
    background-color: #E3920C;
    /*height: 100%;*/
}


/***************** NAVBAR MOBILE ********************/

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    font-family: 'Josefin Sans', sans-serif;
    color: black !important;
    font-size: 1.4em;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: white;
}


/*button toggle*/

.navbar-default .navbar-toggle {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #c9c9c9;
}

.navbar-default .navbar-toggle:focus span,
.navbar-default .navbar-toggle:hover span {
    background-color: white;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white !important;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
